.detailContainer{
    width: 100%;
    >h1{
        color: #858585;
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
    }
    .img{
        width: 40%;
    }
}

.info{
    display: grid;
    padding: 3rem;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 14px;
    justify-items: stretch;
    align-items: stretch;
}

.description{
    font-family: 'Rubik', sans-serif;
    align-self: center;
    text-align: start;
    width: 95%;
    padding-left: 2rem;
    color: #afafaf;
}
.genres{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    >li{
        color: #858585;
        margin: 0.5rem 0 0;
        list-style: none;
    }
}

.description_h3{
    display: flex;
    justify-content: center;
    padding-top: 1rem;
    flex-direction: column;
    border-radius: 20px;
    background-color: #8585856e;
    padding-right: 1.5rem;
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
}

.platforms{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    >li{
        color: #858585;
        margin: 0.5rem 0 0;
        list-style: none;
    }
}

.rating{
    font-family: 'Rubik', sans-serif;
    color: #afafaf;
    font-weight: 700;
}

.btn_Back{
    font-family: 'Rubik',sans-serif;
    font-size: 1rem;
    font-weight: 700;
    position: absolute;
    display: flex;
    margin-left: 1rem;
    top: 1rem;
    background: rgb(75, 75, 75);
    border-radius: 15px;
    border: none;
}

@media screen and (max-width:1000px) { 
    .info{
        display: flex;
        flex-direction: column;
    }
}
@media screen and (max-width:700px) { 
    .img{
        width: 1rem;
    }
}
