.detailContainer{
    width: 100%;
    >h1{
        color: #858585;
        font-family: 'Rubik', sans-serif;
        font-size: 3rem;
    }
    .img{
        width: 40%;
    }
}

.info{
    display: grid;
    padding: 3rem;
    grid-template-columns: 3fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 18px;
    grid-row-gap: 14px;
    justify-items: stretch;
    align-items: stretch;
}

.description{
    font-family: 'Rubik', sans-serif;
    align-self: center;
    text-align: start;
    width: 95%;
    padding-left: 2rem;
    color: #ffffff;
}
.genres{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    >li{
        color: #858585;
        margin: 0.5rem 0 0;
        list-style: none;
    }
}
.platforms{
    font-family: 'Rubik', sans-serif;
    color: #ffffff;
    >li{
        color: #858585;
        margin: 0.5rem 0 0;
        list-style: none;
    }
}

.rating{
    font-family: 'Rubik', sans-serif;
}