.main{
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('./img_Landing.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.btnInsert{
    padding: 0.50rem;
    font-family: 'Rubik', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    background-color: #fff9;
    border-radius: 0.25rem;
    border: solid 0.125rem #121212;
    box-shadow: 0.25rem 0.25rem #121212;

    transition:
        transform 50ms, box-shadow 50ms;
}

.retro:active{
    transform: translate(0.125rem, 0.125rem);
    box-shadow: 0.125rem 0.125rem #121212;
}