.cardContainer {
  padding: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    text-decoration: none;
    list-style: none;
    
  /* display: grid;
  width: 114rem;
  grid-gap: 6rem;
  grid-template-areas:
  "navBar" 
  "aside Main";
  grid-template-columns: 80px 1fr 50px;
  grid-template-rows: 80px 1fr 50px;
  */
}
