.card {
  position: relative;
  width: 12rem;
  height: 15rem;
  background-color: rgb(36, 36, 36);
  border-radius: 0.4rem;
  font-family: 'Rubik', sans-serif;
  > h3 {
    color: #ffffff;
  }
  transition: 0.3s;
  > img {
    object-fit: cover;
    width: 100%;
    height: 50%;
    border-radius: inherit;
  }
}

.card:hover {
  transform: scale(1.05);
}

.backgound_img {
  position: absolute;
}

.rating {
  position: absolute;
  background-color: #ffffffdc;
  border-radius: 15px;
  margin: 2px;
  padding: 2px;
  top: -15px;
}

@media screen and (max-width: 700px) {
  .card{
    width: 9rem;
    height: 10rem;
  }
}
