.flex{
    display: flex;
    position: relative;
}

.aside{
    width:calc(100vw -20%);
    border-right: 1px solid #7b7b7b;
    background: #232323;
}

.cardsMain{
    width: calc(100% - 20%);
}

@media screen and (max-width: 700px) {
    .aside{
        position: absolute;
        width: 100%;
        height: auto;
    }
    .cardsMain{
        margin-top: 18rem;
        width: 100%;
    }
}