.card {
  width: 12rem;
  height: 15rem;
  border: 1px solid #636363;
  border-radius: 0.4rem;
  font-family: "Rubik", sans-serif;
  color: #FFFFFF;
  > img {
    width: 11.5rem;
    border-radius: 1rem;
  }
}
